# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
env/
*.env

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore local development files
.vscode/
.idea/
*.pydevproject
*.pyc

# Ignore user-specific files
*.DS_Store
*.bak
Thumbs.db

# Ignore common build tools
*.swp
*.lock
*.log
*.cache
